:root {
    --main: #1B1B1B;
    --accent: #F6F6F9;
    --highlight: #BC0000;

    --invert-accent: #1B1B1B;
    --invert-main: #F6F6F9;

    --transition-speed: 0.75s;
    --spacing: 1.5rem;
}

::selection {
    background-color: #BC0000;
    color: #F6F6F9;
}

body,
.nav-bar,
.tool-bar,
.tree-source,
.circle {
    transition: background-color var(--transition-speed) ease;
}

.circle,
.nav-bar h1,
.link,
.qr-code,
.project-image {
    transition: background-color var(--transition-speed) ease, transform var(--transition-speed) ease;
}


body {
    font-family: 'JetBrains Mono';
    font-size: 1rem;
    color: var(--main);
    background-color: var(--accent);
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 7.346rem;
    padding-bottom: 4.531rem;
    align-items: center;
}

p {
    color: var(--main);
}

a {
    margin-right: 5%;
    text-decoration: none;
    color: var(--main);
}

.dark-mode {
    --accent: #1B1B1B;
    --main: #F6F6F9;

    --invert-accent: #F6F6F9;
    --invert-main: #1B1B1B;
}

.tool-bar {
    position: fixed;
    top: 0;
    width: calc(100% - 10%);
    background: var(--accent);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--main);
    z-index: 2;
}

.circle {
    display: flex;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    max-width: 10%;
    max-height: 10%;
    border-radius: 50%;
    background-color: var(--main);
}

.circle:hover {
    filter: blur(5px);
    transform: scale(200%);
    cursor: none;
}

.custom-cursor {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    max-width: 10%;
    max-height: 10%;
    border-radius: 50%;
    background-color: var(--accent);
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 3;
}

.title {
    margin: 0;
}

.section-contact,
.section-biography {
    margin-top: 3%;
}

.section-profile {
    padding-top: 1%;
}

.name {
    margin: 0;
    padding: 0;
    font-size: 8rem;
}

.contact-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% - 15%);
}

.contact-details {
    text-align: left;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.year-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% - 15%);
}

.year-details {
    text-align: left;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.website {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.link {
    margin: 0;
    padding: 0;
    font-size: 3rem;
}

.email {
    margin: 0;
    padding: 0;
    font-size: 3rem;
}

.link:hover {
    transform: scale(101%);
    color: var(--accent);
    background-color: var(--main);
}

.nav-bar {
    position: fixed;
    bottom: 0;
    width: calc(100% - 15%);
    background: var(--accent);
    display: flex;
    align-items: center;
    border-top: 1px solid var(--main);
    padding-right: 5%;
    z-index: 2;
}

.nav-link h1:hover {
    transform: scale(101%);
    color: var(--accent);
    background-color: var(--main);
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--main);
    margin-top: 5%;
    margin-bottom: 5%;

}

.project-info {
    flex: 1;
    margin-left: 20px;
    padding: 5%;
}

.project-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-info p {
    font-size: 16px;
    line-height: 1.6;
}

.project-image {
    flex: 1;
    height: 100%;
    width: 100%;
    margin: 5%;
    object-fit: contain;
    overflow: hidden;
}

.project-image:hover {
    transform: scale(1.1);
}

.project-image img {
    width: 100%;
    height: 100%;
    display: block;
}

.resume-description {
    margin-left: 20px;
}
.resume-description ul {
    list-style-type: disc;
    margin-top: 5px;
    margin-bottom: 5px;
}
.resume-description ul li {
    margin-bottom: 5px;
}

.black-white {
    padding: 0.1rem;
    background-color: var(--main);
    color: var(--accent);
}

.white-black {
    padding: 0.1rem;
    color: var(--main);
    border: 1px solid var(--main);
    background-color: var(--accent);
}

.red-white {
    padding: 0.1rem;
    color: var(--invert-main);
    background-color: var(--invert-accent);
}

.thai {
    margin-top: 0;
    font-family: Noto Sans Thai;
    font-size: 2rem
}

.nav-bar.show {
    transform: translateY(0);
}

.qr-code {
    position: fixed;
    bottom: 4.531rem;
    right: 5%;
    max-width: 10%;
    width: auto;
    height: auto;
    z-index: 2;
    border: var(--main) solid 1px;
}

.qr-code:hover {
    transform: scale(101%);
}

@media (max-width: 1500px) {
    .project-details {
        width: calc(100% - 3%);
    }
}

@media (max-width: 1000px) {
    .qr-code {
        display: none;
    }
}

@media (max-width: 800px) {    
    body {
        font-size: 0.8rem;
    }

    .website {
        font-size: 0.8rem;
    }

    .link {
        font-size: 1.3rem;
    }

    .email {
        font-size: 1.3rem;
    }

    .name {
        font-size: 4rem;
    }

    .qr-code {
        display: none;
    }
}

@media screen and (max-width: 1200px) {

    .project-container {
        flex-direction: column;
    }

    .project-image,
    .project-info {
        flex: auto;
    }
}
